psycopg2-binary
pandas
scikit-learn
numpy
matplotlib
sqlalchemy
python-dotenv
streamlit
streamlit-shap
seaborn
ipython
statsmodels
shap
tpot
tqdm
textblob
sentence-transformers
transformers
datasets
faiss-cpu
joblib
azure-storage-blob